# Diretórios de build
target/
*.log

# Arquivos específicos da IDE
.classpath
.project
.settings/

# Arquivos do Maven
.mvn/

# Dependências do Maven
lib/

# Arquivos específicos do sistema operacional
.DS_Store         # MacOS
Thumbs.db         # Windows

# Arquivos do Apache Tomcat
.tomcat/
*.war

# Arquivos de configuração do IntelliJ IDEA
.idea/

# Eclipse
*.launch

# Arquivos de compilação Java
*.class
